@font-face {
  font-family: 'Avenirnext';
  src: url(fonts/AvenirNext-Regular.ttf), url(fonts/AvenirNext-Regular.eot), url(fonts/AvenirNext-Regular.otf), url(fonts/AvenirNext-Regular.svg), url(fonts/AvenirNext-Regular.woff);
}

html {
  font-family: 'Avenirnext';
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 8px;
}

h5 {
  font-size: 4px;
}

.u-fs-super-small {
  font-size: 11px;
}

.u-fw-bold {
  font-weight: 900;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 16px;
  padding-right: 16px;
  margin: auto;
}

:root {
  --color-primary: #4b118b;
  --color-accent: #ff3e00;
  --color-complementary: #81d442;
  --color-light: #FFFFFF;
  --color-undefined: #f4f3f3;
  --color-black: #000000;
  --color-blue: #5fb6b0;
  --color-dark-gray: #1c1c1c;
}

.u-bg-complementary {
  background: var(--color-complementary);
}

.u-bg-primary {
  background: var(--color-primary);
}

.u-bg-accent {
  background: var(--color-accent);
}

.u-bg-undefined {
  background: var(--color-undefined);
}

.u-fc-light {
  color: var(--color-light);
}

.u-fc-black {
  color: var(--color-black);
}

.u-color-primary {
  color: var(--color-primary)
}

.u-color-complementary {
  color: var(--color-complementary)
}

.u-color-accent {
  color: var(--color-accent)
}

.u-color-undefined {
  color: var(--color-undefined)
}

.u-color-light {
  color: var(--color-light)
}

.u-bg-blue {
  background-color: var(--color-blue)
}
.u-bg-dark-gray {
  background-color: var(--color-dark-gray)
}

.link-item {
  text-decoration: none;
}

.link-item__border-bottom {
  border-bottom-style: dotted;
  border-width: 1px;
}

.top-bar {
  display: none;
}

.top-bar__p {
  width: 90%;
  padding-top: 8px;
  padding-bottom: 8px;
}

.top-bar__icons {
  width: 10%;
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
padding-bottom: 8px;
}

.nav-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-bar__collapsed {
  border: none;
  padding: 0px;
  margin-left: 1rem;
}

.header {
  padding-top: 15px;
  height: 80px;
}

.brand {
}

.brand-image {
  width: 100%;
}

.brand__image--primary {
  height: 40px;
}

.brand__image--light {
  height: 35px;
}

.brand__caption {
  width: 100%;
  margin-bottom: 9px;
  margin-right: 16px;
}

.menu {
  display: none;
  width: 100%;
}

.menu ul li {
  margin-bottom: 1.5rem;
  padding-top: 10px;
}

.menu__items {
  margin-top: 25px;
}

div.menu__items li:hover {
  border-style: solid;
  border-top-width: 1px;
  border-top-color: var(--color-complementary);
  color: var(--color-complementary);
}

div.menu__items a:hover {
  color: var(--color-complementary);
}

div.menu__items li:active {
  border-style: solid;
  border-top-width: 1px;
  border-top-color: var(--color-complementary);
  color: var(--color-complementary);
}

div.menu__items a:active {
  color: var(--color-complementary);
}

.u-sb-list-item {
  padding-right: 15px;
}

.slider-main {
  padding-top: 50px;
  background-color: red;
  width: 100%
}

.box {
  width: 100%;
}

.box__description {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  text-align: center;
}

.box-spot {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.box-spot__container {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 1rem;
}

.box-spot__spot-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
}

.icon-box__text-number--size {
  font-size: 48px;
}

.icon-box {
  width: 100%;
  margin: auto;
  text-align: center;
}

.icon-box__img-size {
  height: 96px;
}

.section__icon-box_size {
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
}

.padding-bottom-1rem {
  padding-bottom: 1rem;
}

.form-inline {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: auto;
  margin-left: auto;
}

.subscribe-form {
  margin: auto;
}

.subscribe-form__items {
  display: flex;
  flex-flow: column;
  margin: auto;
}

.subscribe-form__items_mb {
  margin-bottom:0.3rem;
}

.text-input {
  padding: 8px 20px;
  height: auto;
  font-family: 'Avenirnext';
  color: black;
  font-size: 16px;
}

.top-border {
  border-top: 5px;
  border-style: solid;
}

.target__top-border_primary {
  border-color: var(--color-primary);
}

.target__top-border_blue {
  border-color: var(--color-blue);
}

.form__container_border{
  border-color: var(--color-accent);
}

.footer__top-border {
  border-top: 1px;
  border-style: solid;
  border-color: lightgray;
}

.footer__padding-top {
  padding-top: 2rem;
}

.target__box {
  width: 50%;
  margin: 2rem;
}

.bottom-bar {
  width: 100%
}

.bottom-bar__p_-margin {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.footer {
  width: 100%
}


.brand-sitemap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.brand-sitemap__item {
  width: 100%;
  margin-bottom: 1rem;
}

.link-list__item {
  list-style-type: none;
  margin-top: 0.5rem;
}

.footer__notice {
  margin-top: 2rem;
  margin-bottom: 1.5rem;

}

.text-aling-justify {
  text-align: justify;
}

.text-aling-right {
  text-align: right;
}

.text-aling-center {
  text-align: center;
}


.button-radius {
  border-radius: 4px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 10px 16px;
  font-family: 'Avenirnext';
}

.section-display {
  display: none;
}

.button-resposive {
  width: 100%;
}





@media screen and (min-width: 750px) {
  .box-spot__container {
    width: 48%;
  }
  .box-spot {
    flex-direction: row;
    justify-content: space-between;
  }
  .subscribe-form__items {
    flex-flow: row;
  }

  .subscribe-form__items_mb {
    margin-bottom: 0px;
    width: 30%;
    margin-right: 15px;
  }
  .brand-sitemap__item {
    width: 25%;
  }

  .brand {
    float: left;
  }

  .button-resposive {
    width: 30%;
  }

  .section-display__button-size{
    width: 160px;
    height: 49px;
  }

  .icon-box {
    width: 33.33%;
    margin-top: 2rem;
  }
  .subscribe-form__items {
    margin-right: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .top-bar {
    display: flex;
    flex-wrap: wrap;
    width: 100%
  }

  .section-display {
    display: inline;
  }

  .container {
    padding-left: 75px;
    padding-right: 75px;
  }

  .menu {
    display: inline;
    width: auto;
  }

  .nav-bar {
    width: 20%;
    justify-content: left;
  }

  .nav-bar__collapsed {
    display: none;
  }

  .menu ul li {
    display: inline;
  }

  .header {
    height: 80px;
  }

}
